


#buttonContainer {
    padding: 40px 10px 40px 10px;
}
.form-group {
    margin: 10px;
}
.btn {
    margin: 10px;
    padding: 5px;
}
.newGif {
    max-width: 300px;;
    padding: 20px;
    /* float: left; */
}
#gifDisplayArea {
    margin: 0 auto;
    text-align: center;
}
.addButtonContainer {
    margin-bottom: 40px;
}